@font-face {
   font-family: 'Komorebi-PersonalUse';
   font-display: swap;
   src: url('file:///Users/bramsteenkiste1997hotmailcom/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-12-07_160201/fonts/Komorebi-PersonalUse/font.ttf');
}
